<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Michigan AI Lab,Michigan AI Laboratory,Michigan AI Laboratory blog,Michigan AI Lab blog,Michigan AI Lab blog postings,Umich AI Lab blog,University of Michigan AI Lab,University of Michigan AI Laboratory,University of Michigan AI Lab blog,University of Michigan AI Laboratory blog,UM AI Lab,UM AI Lab blog,Michigan AI Lab students blog,Michigan AI Lab postings">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="2color-bluebg" sizes="144x144" href="{{ site.baseurl }}/public/2color-bluebg.png"> 
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
