// Masthead
//
// Super small header above the content for site name and short description.
.mast-container {
  background: $yellow;
}

.masthead {
  max-width: 50rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  margin-left:  auto;
  margin-right: auto;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $lightblue;

  a {
    color: inherit;
  } 
  img {
    float: left;
  }

  small {
#    float: right;
    font-size: 75%;
    font-weight: 400;
    opacity: 1;
  }
}

@media screen and (min-width: 32 em) {
.m-logo {
    width: 60%;
max-width:"400px";
 }
}
